 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/418c2889efde5c49b8a1a5a4f6a5d768ce3cb47260a21ab1b511a0f32f95b83b7df6490c941a46dbe7289dad8cf64e0079fd10ec9c0eab94679ddc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-form-1 {
  height: 143px;
  width: 627px;
  margin: 289px auto;
}

.u-section-1 .u-input-1 {
  height: 49px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}